.SB-mainContainer{
display: flex;
flex-direction: column;
Width: 288px;
Height: 1769px;
background: #0E1B42;
}

.SB-container{
Width: 288px;
Height: 1769px;
}

.logo{
Width: 227px;
Height: 33px;
margin-top: 35px;
margin-right: 29.38px;
margin-left: 31.17px;
}

.SB-subContainer{
margin-top: 70px;
Width: 288px;
Height: 56px; 
background-color: yellow;
display: flex;
align-self: start;
}

.SB-context{
font-family: 'Nunito Sans', sans-serif ;
font-weight: 700;
font-size: 14px;
color: #0E1B42;
display: flex;
align-items: center;
margin-left: 88px;

}

.SB-subContainer2{
margin-top: 42px;
Width: 288px; 
display: flex;
align-self: start;
}

.SB-context2{
font-family: 'Nunito Sans', sans-serif ;
font-weight: 700;
font-size: 14px;
color: white;
display: flex;
align-items: center;
margin-left: 88px;
width: 167px;
}

/* .SB-icon{
    margin-top: 42px;
    width: 16px;
    height: 20px; 
} */

