html {
  background-color: #e5e5e5;
}
.SB-flex1 {
  display: flex;
  flex-direction: row;
}

.SB-flex2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* align-items: flex-end; */
  /* margin-left: 40px; */
  margin-bottom: 47px;
}

.SB-flex3 {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}

@media (max-width: 375px) {
.background {
  width: 400px;
}

  .SB-flex1 {
    display: flex;
    flex-direction: column;
  }

  .SB-flex3{
    margin:0;
    border-radius: 0;
  }
}